@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: blue;
    font-family: "Calibri", sans-serif !important;
}

.mt-100 {
    margin-top: 50px;
}

.mb-100 {
    margin-bottom: 50px;
}

.card {
    border-radius: 1px !important;
}

.card-header {
    background-color: #fff;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
